@import "style/global";
.block {
  position: fixed;
  top: 6rem;
  left: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: 1;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  .hamburger_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 0 1rem;
    padding: 30px;
    background-color: $c-primary-dark;
    border-radius: $button-radius-s;
    color: $c-white;
    cursor: auto;
    gap: 1rem;
  }

  .border {
    width: 100%;
    border-bottom: 1px solid $c-gray-violet;
  }

  .link {
    width: 100%;
    text-align: center;
    padding: $button-padding-s;

    font-weight: $font-bold;
    font-size: $big-font-size;
    text-decoration: none;
    color: white;

    &:hover,
    &:focus {
      @include button($button-radius-b, $button-padding-s);
      background-color: $c-primary-medium;
    }
  }
}
