@import "style/global";

.footer {
  background-color: $c-gray-dark-violet;

  color: $c-white;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 100px;

  .title {
    font-size: 30px;
    margin-bottom: 3rem;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 2.5rem;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
    }
  }

  .link {
    @include hoverLinks;
    text-decoration: none;

    &:focus {
      color: $c-primary-medium;
    }
  }
}
